/*
  Анимация:
  enter
  exit
*/

.order-enter
  max-height: 0;
  transition: 0.5s;
  transform translateX(-120%);
  &.order-enter-active
    max-height: 0;
    padding: 2 rem 0 !important;
    transform translateX(0);

.order-exit
  transition: 0.5s;
  transform translateX(0);
  &.order-exit-active
    padding: 0;
    transform translateX(120%);

.count-enter
  transition: 0.5s;
  transform translateY(100%);
  &.count-enter-active
    transform translateY(0);

.count-exit
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  transform translateY(0);
  &.count-exit-active
    transform translateY(-100%);